<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Create User</h1>
    <form th:action="@{/users}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:value="${user.name}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" th:value="${user.surname}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="pathronymic">Pathronymic:</label>
            <input type="text" id="pathronymic" name="pathronymic" th:value="${user.pathronymic}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" th:value="${user.login}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:value="${user.password}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <select id="role" name="role.id" class="form-control" th:field="*{role.id}">
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
    <a href="/users" class="btn btn-secondary btn-block mt-3">Back to List</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
