<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Редактировать Студента</h1>
        <form th:action="@{/students/edit/{id}(id=${student.id})}" th:object="${student}" method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" th:field="*{name}" 
                       class="form-control" 
                       th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="form-group">
                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email" th:field="*{email}" 
                       class="form-control" 
                       th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="form-group">
                <label for="group">Группа:</label>
                <select id="group" name="group" th:field="*{group}" 
                        class="form-control" 
                        th:class="${#fields.hasErrors('group')} ? 'form-control is-invalid' : 'form-control'" required>
                    <option value="" disabled>Выберите группу</option>
                    <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}" th:selected="${group.id == student.group.id}"></option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('group')}" th:errors="*{group}"></div>
            </div>
            <button type="submit" class="btn btn-success btn-block">Обновить</button>
        </form>
        <a href="/students" class="btn btn-secondary btn-block mt-3">Назад к списку</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
